/*reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit; /*ashan takhd parent's color*/
}

/* global style */
body{
    /* maynfaash margin or padding on the body some elements might need to be aswide as the screen*/
    margin: 0% 5%;
}

.nav{
    z-index: 999;
}

.bg-dark{
    background-color: rgb(13, 13, 13);
}

.text-white{ /*because we need many white text*/
    color:white;
}

.container{
    width:80%;
    margin:0% auto;
}

.ul{
    list-style: none;
}

.text-center{
    text-align: center;

}

.text-light{
    color: lightgray
}

.bg-light{
    background-color: lightgray;
    padding:3% 0%;
}

.float-left{ /*float ignores inline block*/
    float:left;
    margin:0% 5%;
}

.float-right{ /*if two elements are used not more*/
    float:right;
}

.clear{ /*with float to resolve thhe problems of float left aand right: makes the divs return to the parent layer*/
    clear:both;
}

.position-relative{ /* ashan button travel ybaa f hodud el parent not the screen w howa absolute*/
    position: relative;
}

.overlay-absolute{
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
}

.card:hover .overlay-absolute{
    /*lama n hover on card overlay yban w elkalam el aleh*/
    display: block;
}

.card{
    width:30%;
    /*border: 1px solid gray;*/
    /*box-shadoew: xaxis yaxis blur spread*/
    box-shadow: 0px 0px 5px 3px lightgray;
    display: inline-block;
}

.card img{
    width: 100%;
    display: block; /*ashan ymla div maybaash overlay bayen mslan lw hya inline block*/
}

.card-body{
    padding: 3%;
}

.card-body h3{
    margin-bottom: 2%;
}

.button{
    font-weight:bold;
    border: 2px solid ; /*outset is default*/

}

/*below is pesudo property lama ashawer ala this element bs*/
.button:hover{
    background-color: blue;
    color: white;
}

/*h3 el gowa card haytghayar colors lama n hover anywhere in card*/
.card:hover h3{
    color: blue;
    font-size: 30px;
}

/*custom style*/
#banner{
    /*two dots yaanee go back a step ll folders*/
    background-image: url(../folder/pic);
    /*background-repeat: no-repeat; aw x aw y*/
    background-color: antiquewhite; /*law no repeat fa fi part msh zaher bg color byban*/
    background-position-x: right;
    background-size: 100% 100%; /*el msaha el htt3red fiha el pic*/


}

.overlay{
    background-color: rgb(62, 61, 61);/*mn rgb aw hex fl inspect nghama2 w nfataha color*/
    color:white;
    height:100%;
    padding: 8% 0%;
    display:none;
}


.custom-arrow{
    border-radius: 50%; /*makes a circle when weight=height*/

}

/*position ==> fixed sticky relatiive absolute static(default)*/
/*fixed byakhod el nav bara layer lwahdu sometimes bybawaz eldonya fix b widthh : ykhaly nav yigi ala pic background eltahtu*/
/*sticky: between static(mghayarnsh layer w btbayen elements fo2eeh bcz fixed doesnt when top:0) and fixed when top:0 tsbat fo2 while scrolling */
/*left right top bottom z-index*/
/*z-index: y3aly layer fo2 other layers kol ma yzeed value*/

/*absolute ykhaly yfked element makano fa nzabato manually lw ayzeen element on element

.btn-white{
    background-color: aliceblue;
    color: aqua;
    box-sizing: 0px 0px ;
}

/*display:blick,inline,none*/