/*reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a{
    text-decoration: none;
    color:inherit; /*ashan takhd parent's color*/
}

/*global style*/
.nav-style{
    background-color: black;
    /*padding:0.5% 0.5%;*/
    color:white;
    height:80px;
}

.nav-AXIT{
    margin:1.5% 1% 0% 13%;
    display:inline-block;
    font-size: large;
}

.small-font{
     font-weight: normal;
}


.bigtext-style{
    font-size: 100px;;
}

.largetext-style{
    font-size: 50px;
}

.orange-text{
    color: #FF8B38;
}

.white-text{
    color: white;
}
.d-inline-block{
    display: inline-block;
}

.ul{
    list-style: none;
    width:30%;
   
    margin:2% 7% 7% 0.5%;
}


.float-right{
    float:right;
}

.clear{
    clear:both;
}


.margin-bottom{
    margin-bottom: 0.8%;
}

.marginbottomsmaller{
    margin-bottom: 4%;
}

.font-type{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*customized*/
.card{
    width:10%;
    height:20%;
    box-shadow: 0px 0px 11px 3px #bebcbc;
}

    .image-wrapper {
    position: relative;
}

.card-img {
    width: 100%;
    display: block;
}

.card-body {
    padding: 4%;
    background-color: white;
}
.cardbutton{
    border: white solid;
}


.custom-arrow{
        border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-color: black;
    top:0;
    left:100%
   
}

.overlay{
    background-color: rgb(62, 61, 61);/*mn rgb aw hex fl inspect nghama2 w nfataha color*/
    color:white;
    height:100%;
    display: inline-block;
}

.button{
    border-color: black;
}
